<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://quotes2015.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>quotes2015.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Quotes2015</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$Quotes2015</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="QuotationsAppContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sq2xlg9mpm.database.windows.net,1433;Initial Catalog=QuotesDatabase;User ID=truonga1@sq2xlg9mpm;Password=Tswizzle13" Name="Data Source=tcp:sq2xlg9mpm.database.windows.net,1433;Initial Catalog=QuotesDatabase;User Id=truonga1@sq2xlg9mpm;Password=Tswizzle13" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="QuotationsApp.Models.QuotationsAppContext, QuotationsApp" MigrationConfiguration="QuotationsApp.Migrations.Configuration, QuotationsApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QuotationsAppContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sq2xlg9mpm.database.windows.net,1433;Initial Catalog=QuotesDatabase;User Id=truonga1@sq2xlg9mpm;Password=Tswizzle13</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>